/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 14px;
    line-height: 1.4;
}
body {
    font-family: 'Montserrat', sans-serif;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display:  inline-block;
    height: 1px;
    border: 0;
    border-top: 2px solid #000;
    margin: 1em 0;
    padding: 0;
} 
section hr {
    width: 55px;
}
hr.c-1 { border-color:#fff;}
hr.c-2 { border-color:#333333;}
hr.c-3 { border-color:#d03938;}
hr.c-4 { border-color:#8b2742;}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
section.content {
    padding: 120px 0 100px;
}
@media screen and (max-width: 768px) {
    section.content {
        padding: 50px 0 30px;
    }
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.transition {
    text-decoration: none;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;    
}
button,
a {
    text-decoration: none;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
a:hover,
a:focus,
a:active,
a:visited {
    text-decoration: none;
    outline: none;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.h1,
h1 {
    font-size: 35px;
    line-height: 45px;
    font-weight: 300;
    margin-bottom: 40px;
    margin-top: 15px;
}
.h1 b,
h1 b {
    font-weight: 400;
}
.h2,
h2 {
    font-size: 24px;
    line-height: 32px;
}
.h3,
h3 {
    font-size: 11px;
    line-height: 25px;
}

.paragraph-1 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
}
.paragraph-2 {
    font-size: 13px;
    line-height: 18px;
    font-weight: 300;
}





* h3 .thin,
* .thin,
* small {
    font-weight: 300;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */
.modal-header .close {
    opacity: 1;
    color: #000;
}
.modal-header .close:hover,
.modal-header .close:active,
.modal-header .close:visited,
.modal-header .close:focus {
    opacity: 1;
    color: #d03938;
    outline: none;
}
 .img-responsive { display: inline-block; }
.fullheight {
    height: 100vh;
}
.fullsize {
    min-height: 100vh;
    width: 100vw;
    display: inline-block;
    position: relative;
}

.hidden {
    display: none !important;
}
.color-1 { color:#FFF; }
.color-2 { color:#333333; }
.color-3 { color:#d03938; }
.color-4 { color:#8b2742; }

.bg-1 { background:#FFF; }
.bg-2 { background:#333333; }
.bg-3 { background:#d03938; }
.bg-4 { background:#8b2742; }

.m-top-20 {margin-top: 20px;}
.m-top-30 {margin-top: 30px;}
.m-top-40 {margin-top: 40px;}

.m-bottom-20 {margin-bottom: 20px;}
.m-bottom-30 {margin-bottom: 30px;}
.m-bottom-40 {margin-bottom: 40px;}
/*====MODAL ESTILOS===*/
.modal-footer,
.modal-header {
    border: none;
}
.modal-header .close {
    float: left;
    font-size: 45px;
    /*color: #FFF;*/
}
.modal-dialog {
    margin: 0;
}
.modal-content {
    border-radius: 0;
    max-height: auto;
    padding-bottom: 80px;
}
/*====FIN MODAL ESTILOS===*/
/*---seccion con quote*/
 section.quote {
    height: 560px;
    overflow: hidden;
 }
 section.quote {
    text-transform: uppercase;
    background-size: cover;
    background-attachment: fixed;    
 }
 section.quote h2 {
    color:#FFF;
    margin-top: 50%;
    font-size:45px;
    line-height: 50px;
    margin: 0;
    margin-top: 280px;
    transform: translateY(-50%);

 }
 section.quote h2 small {
    color:#FFF;
    font-weight: 300;
    text-transform: none;

 }
 section.quote h2 span {
    color: #d03938;
 }
 @media screen and (max-width: 768px){
     section.quote {
        height: 350px;
        background-attachment: initial;
     }    
    section.quote h2 {
        margin-top: 175px;
        font-size: 34px;

    }
     section.quote .col-xs-12.text-center {
        text-align: left;
     }
 }
 /*===botones===*/
 .btn-bordered {
    background: transparent;
    border: 1px solid #FFF;
    color: #FFF;
    border-radius: 0;
    font-weight: 300;
 }
 .btn-bordered:hover,
 .btn-bordered:active,
 .btn-bordered:focus,
 .btn-bordered:visited {
    outline: none;
    background: #FFF;
    color: #8b2742;
 }
/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*NAVBAR */
    /*always collapsed*/
    .navbar-toggle {
        display: block;
        margin: 0;
        top: 20px;
    }
    .navbar-header {
        position: relative;
        width: 100%;
        padding: 15px 0;
        margin: 0!important;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: inline-block!important;
    }
    /*estilos*/
    .main-nav {
        background: #000000d1;
    }
    
    .navbar-brand {
        height: auto;
        padding: 0;
    }
    .navbar-brand h1 {
        margin: 0;
    }
    .main-nav .navbar-brand {
        width: 96px;
    }
    .main-nav.scroll .navbar-brand {
        width: 76px;    
    }
    .main-nav .navbar-brand img {
        width: 100%;
    }
    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background: #FFF;
    }
    .navbar-nav>li {
        display: block;
        width: 100%;
    }
    .navbar-nav>li:first-of-type {
            margin-top: 85px;   
    }
    .navbar-nav>li:last-of-type {
            margin-bottom: 85px;   
    }
    .navbar-nav form{
        padding: 0;
        margin: 0;
    }
    .navbar-nav form small {
        font-weight: inherit;
    }
    .navbar-nav>li button,
    .navbar-nav>li>a {
        font-size: 25px;
        background: transparent;
        border: none;
        line-height: 29px;
        font-weight: 100;
        color: #FFF;
        padding: 20px 10px 20px 0;
    }
    .nav>li button:focus, .nbuttonv>li button:hover,
    .nav>li>a:focus, .nav>li>a:hover {
        text-decoration: none;
        outline:none;
        background-color: transparent;
        font-weight: 400;
    }    
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
        max-height: 100vh;
    }

    @media screen and (max-width: 768px) {
        .main-nav .navbar-nav {
            margin-left: 15px;
        }   
        .navbar-nav>li:first-of-type {
           margin-top:  5px;   
        }

    }
/*Hamburguesa*/
.hamburger,
.hamburger:focus{
    display: inline-block;
    padding: 5px;
    font: inherit;
    color: inherit;
    text-transform: none;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    background-color:  transparent;
    overflow: visible;
    cursor: pointer;
    outline: none;
    position: absolute;
    float: right;
    top: 50%;
    margin-top: -17px;
    right: 0;
    z-index: 600;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
}
    .hamburger-box{
        display: inline-block;
        width: 35px;
        height: 35px;
        border-radius: 5px;
        background: transparent;
        position: relative;
    }
        .hamburger:hover .hamburger-box{
            background: transparent;
        }
    .hamburger-inner{
        display: block;
        margin-top: -2px;
        top: 50%;
        left: 4px;
    }
        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after{
            width: 30px;
            height: 3px;
            border-radius: 0;
            background-color: #fff;
            position: absolute;
            transition-property: -webkit-transform;
            transition-property: transform;
            transition-property: transform, -webkit-transform;
            transition-duration: 0.15s;
            transition-timing-function: ease;
        }
        .hamburger:hover .hamburger-box .hamburger-inner::before,
        .hamburger:hover .hamburger-box .hamburger-inner::after{
            background-color: #fff;  
        }
        .hamburger-inner::before,
        .hamburger-inner::after{
            content: '';
            display: block;
        }
        .hamburger-inner::before{
            top: -10px;
        }
        .hamburger-inner::after{
            bottom: -10px;
        }

        /*Efecto de hambuger*/
        .hamburger--efecto .hamburger-box{
            -webkit-perspective: 80px;
            perspective: 80px;
        }
            .hamburger--efecto .hamburger-inner{
                transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
                transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
                transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
            }
                .hamburger--efecto .hamburger-inner::after{
                    transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
                    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
                    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
                }
                .hamburger--efecto.is-active .hamburger-inner{
                    background-color: transparent;
                    -webkit-transform: rotateY(180deg);
                    transform: rotateY(180deg);
                }
                .hamburger--efecto.is-active .hamburger-inner::before{
                    -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
                    transform: translate3d(0, 10px, 0) rotate(45deg);
                }
                .hamburger--efecto.is-active .hamburger-inner::after{
                    -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
                    transform: translate3d(0, -10px, 0) rotate(-45deg);
                }


/*/--------------SECTIONS*/
/*hero*/
.hero {
    background-image: url('../img/Estudio_A-BF-F-M_09_med-res-byn.jpg');
    background-size: cover;
}
.hero .fullsize {
    background: #00000080;
}
.hero .fullsize img {
    margin-top: 50vh;
    transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
    .hero {
        background-image: url('../img/small/Estudio_A-BF-F-M_09_med-res-byn.jpg');
        }

}

/*---fin hero---*/


.socios-1 img{
    width: 100%;
}


/*========QUOTES======*/
#quote1 {
    background-image: url('../img/quote1.jpg');
}
#quote2 {
    background-image: url('../img/quote2.jpg');
}
#quote3 {
    background-image: url('../img/quote3.jpg');
}
#quote4 {
    background-image: url('../img/quote4.jpg');
    background-position: center;
}
#quote5 {
    background-image: url('../img/quote5.jpg');
}
@media screen and (max-width: 768px) {
    #quote1 {
        background-image: url('../img/small/quote1.jpg');
    }
    #quote2 {
        background-image: url('../img/small/quote2.jpg');
    }
    #quote3 {
        background-image: url('../img/small/quote3.jpg');
    }
    #quote4 {
        background-image: url('../img/small/quote4.jpg');
        background-position: center;
    }
    #quote5 {
        background-image: url('../img/small/quote5.jpg');
    }

}

/*========FIN QUOTES======*/


/*========rREFERENCIAS======*/
#referencias .paragraph-1 {
    margin-top: 50px;
}
#referencias ul {
    margin-top: 100px;
    text-align: center;
}
#referencias ul li {
    float: none;
    display: inline-block;
    min-width: 202px;
    width: 17%;
    margin: 15px;
    margin-bottom: 30px;
}
#referencias ul li a {
    opacity: .4;
    filter: grayscale(100%);
}
#referencias ul li:first-of-type {
    margin-left: 0;
}
#referencias ul li:last-of-type {
    margin-right: 0;
}
#referencias ul li a:hover,
#referencias ul li a:active,
#referencias ul li a:visited,
#referencias ul li a:focus{
    filter: grayscale(0%);
    opacity: 1;
    outline: none;
}
#referencias .modal-header .close {
    color: #FFF;
}

@media screen and (max-width: 768px) {
    #referencias ul li {
        /*float: left;*/
    }
}
/*========FIN REFERENCIAS======*/


/*========PRACTICA======*/
#practica .practica-listado {
    margin-top: 80px;
}
#practica .practica-listado li {
    display: table;
    margin-bottom: 20px;
}
#practica .practica-listado li a:hover,
#practica .practica-listado li a:active,
#practica .practica-listado li a:focus,
#practica .practica-listado li a:visited {
    outline:0;
    color: black;
}
#practica .practica-listado li a:hover span:last-of-type,
#practica .practica-listado li a:active span:last-of-type,
#practica .practica-listado li a:focus span:last-of-type,
#practica .practica-listado li a:visited span:last-of-type{
    padding-left: 10px;
}
#practica .practica-listado li a span {
    display: table-cell;
    vertical-align: middle;

}
#practica .practica-listado li a>span:first-of-type {
    font-size: 40px;
    font-weight: 300;
    width: 82px;
}
#practica .practica-listado li a>span:last-of-type {
    padding-left: 0px;
    text-transform: uppercase;
}
#practica .modal-header .close {
    color: #FFF;
}
/*========FIN PRACTICA======*/



/*========SOCIOS======*/

#socios .socios-listado li {
     display: block;
     margin-bottom: 50px;
     height: 240px;
 }
 #socios .bajada {
    margin-top: 35px;
 }
 #socios .socios-listado {
    margin-top: 70px;
 }
 #socios .socios-listado li>span {
     display: inline-block;
     vertical-align: middle; 
 }
 #socios .socios-listado li>span:first-of-type {
     max-width: 220px;
     
 }
 #socios .socios-listado li span:first-of-type  span {
     background-size: cover!important;
     display: inline-block;
     width: 220px;
     height: 255px;
 
 }
 #socios .socios-listado li>.socio__data {
     width: calc(100% - 230px);
     position: relative;;
     padding-bottom: 30px;
     padding-left: 30px;
     padding-right: 35px;
 }
 #socios .socios-listado li .socio__data__nombre {
    font-weight: 500;
    margin-bottom: 20px;
 }
 #socios .socios-listado li .socio__data {
    height: 255px;
    max-height: 255px;
    box-sizing: border-box;
 }
 #socios .socios-listado li .socio__data a {
    position: absolute;
    color: #1A1A1A;
    left: 30px;
    bottom: 0;
    letter-spacing: 0;
    
 }
 #socios .socios-listado li .socio__data a:hover,
 #socios .socios-listado li .socio__data a:focus,
 #socios .socios-listado li .socio__data a:active,
 #socios .socios-listado li .socio__data a:visited {
    letter-spacing: .5px;
    outline: 0;
    color: #8b2742;
 }
 #socios .socios-listado li .socio__data span {
     display: block;
 }
 #socios .modal .socio__modal__img {
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
 }

@media  screen and (max-width: 1200px) {

    #socios .socios-listado li {
         display: block;
         margin-bottom: 50px;
         height: 340px;
     }    
     #socios .socios-listado li span:first-of-type  span {
         background-size: cover!important;
         display: inline-block;
         width: 170px;
         height: 300px;
     
     }
    #socios .socios-listado li>.socio__data {
        width: calc(100% - 180px);
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 15px;
        height: 300px;
        max-height: 300px;
    }     
    #socios .socios-listado li .socio__data__nombre {
        margin-bottom: 10px;
    }     
    #socios .socios-listado li .socio__data a     {
        left: 10px;
    }
}
@media  screen and (max-width: 768px) {
    #socios .socios-listado {
        text-align: center;
        padding: 0 30px;
    }
    #socios .socios-listado li:nth-child(2)>span:first-of-type span,
    #socios .socios-listado li:nth-child(1)>span:first-of-type span {
        background-position-y: 0;
    }
    #socios .socios-listado li>span:first-of-type {
        width: 100%;
        max-width: 400px;
    }
    #socios .socios-listado li>span:first-of-type span {
        background-position: center top;
        background-position-y: -50px;
        display: block;
        width: 100%;
    }
    #socios .socios-listado li>span:first-of-type a {
        float: left;
        margin-top: 10px;
    }
    #socios .socios-listado li>span:first-of-type a:hover,
    #socios .socios-listado li>span:first-of-type a:focus,
    #socios .socios-listado li>span:first-of-type a:hover,
    #socios .socios-listado li>span:first-of-type a:hover,
    #socios .socios-listado li .socio__data {
        display: none;
    }
     #socios .modal .socio__modal__img {
        height: 50vh;
     }
    #socio1 .socio__modal__img {
        background-position-y: -40px;
    }
}
/*========FIN SOCIOS======*/



/*========profesional======*/
#profesionales .profesional-listado {
    margin-top: 70px;
}
#profesionales .profesional-listado li {
    display: inline-block;
    margin-bottom: 100px;
    padding: 0 20px;
}
#profesionales .profesional-listado li:nth-child(2) .profesional__img span{ 
    background-position-y: 0;
}
#profesionales .profesional-listado li:nth-child(2) .profesional__img span{ 
    background-position-y: 0;
}
#profesionales .profesional-listado li>span {
    display: block;
}
#profesionales .profesional-listado li>span:first-of-type {
    width: 100%;
    
}
#profesionales .profesional-listado li span:first-of-type  span {
    background-size: cover!important;
    background-position: top center;
    padding: 0!important;
    display: inline-block;
    width: 100%;
    height: 220px;

}
#profesionales .profesional-listado li .profesional__data {
    padding-top: : 20px;
    color:#808080;
}
#profesionales .profesional-listado li .profesional__data span {
    display: block;
    background-size: cover;
}
#profesionales .profesional-listado li .profesional__data__nombre {
    font-weight: 500;
}
#profesionales .profesional-listado li .profesional__data__descrip {
    font-size: 11px;
    line-height: 18px;
}
#profesionales .profesional-listado li .profesional__data a {
    margin-top: 10px;
    color:#808080;
    font-size: 11px;
    font-weight: 500;
}
#profesionales .profesional-listado li .profesional__data a:hover,
#profesionales .profesional-listado li .profesional__data a:active,
#profesionales .profesional-listado li .profesional__data a:focus {
    color: white;
    text-decoration: none;
    font-weight: 600;
}
 #profesionales .modal .socio__modal__img {
    width: 100%;
    height: 80vh;
    background-size: cover;
    display: inline-block;
 }
 #profesionales .modal .close {
    /*color: #000;*/
 }

@media screen and (max-width: 768px) {
    #profesionales .profesional-listado li span:first-of-type span {
        height: 190px;
        background-position-y: -20px;
        background-repeat: no-repeat;

    }
    #profesionales .profesional-listado li {
        height: 265px;
        margin-bottom: 30px;
    }
    #profesionales .profesional-listado li .profesional__img span {
        background-position-y: 0!important;
        background-position-x: 0!important;

    }
    #profesionales .profesional-listado li:nth-child(8) .profesional__img span,
    #profesionales .profesional-listado li:nth-child(6) .profesional__img span{ 
        background-position-y: 0!important;
        background-position-x: 0!important;
    }
    #profesionales .profesional-listado li:nth-child(3) .profesional__img span,
    #profesionales .profesional-listado li:nth-child(4) .profesional__img span{ 
        background-position-y: 0!important;
        /*background-position-x: 0!important;*/
    }

    
}
/*========FIN profesional======*/



/*========CONTACTO======*/
 .form-control{
    border: none;
    border-bottom: 1px solid black;
    box-shadow: none;
    border-radius: 0;
    line-height: 32px;
    letter-spacing: .5px;
    height: auto;
    color: black;
    margin-bottom: 25px;
    font-size: 12px;
    padding: 0;    
}
 .form-control:focus {
    box-shadow: none;
    border-bottom: 2px solid black;
 }
 .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #575858;
}
 .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #575858;
}
 .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #575858;
}
 .form-control:-moz-placeholder { /* Firefox 18- */
  color: #575858;
}
 #contact-form textarea.form-control,
 #contact-form textarea.form-control:focus {
    border: none;
    margin-bottom: 0;
}
.divider {
    height: 100%;
    width: 1px;
    position: absolute;
    background: #b4b4b4;
    right: 0;
    top: 0;
}
form {
    display: inline-block;
    position: relative;
    width: 100%;
    border: 1px solid black;
    padding: 20px 24px;
}
form button.btn {
    position: absolute;
    display: inline-block;
    bottom: 0;
    right: -1px;
    background: #000;
    color: #FFF;
    border-radius: 0;
    border: 1px solid black;
}
form button.btn:hover,
form button.btn:active,
form button.btn:visited,
form button.btn:focus {
    border-radius: 0;
    border: 1px solid black;
    background: #FFF;
    outline: none;
    color: #000;
}
#contacto .list-unstyled li{
    position: relative;
    padding-left: 50px;
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 25px;
    font-weight: 300;
}
#contacto .list-unstyled li span {
    position: absolute;
    text-align: center;
    width: 30px;
    top: 0;
    left: 0;
}
#contacto .list-unstyled li span i {
    line-height: 33px;

}
#contacto .list-unstyled li span i.fa-envelope {
    font-size: 19px;
}
#contacto .list-unstyled li a+a {
    margin-top: 10px;
    display: inline-block;
}
#contacto .list-unstyled li a:hover,
#contacto .list-unstyled li a:focus,
#contacto .list-unstyled li a:active{
    color: #d03938;
}

@media screen and (max-width: 768px) {
    #contacto .list-unstyled {
        text-align: center; 
        margin-top: 30px;
    }
    #contacto .list-unstyled li {
        font-size: 18px;
        line-height: 18px;
        padding-left: 0;
        margin-bottom: 10px;
    }
    #contacto .list-unstyled li span {
        position: relative;
        margin-right: 7px;
    }
}
#contacto p.color-3,
#rrhh p.color-3 {
    margin-bottom: 30px;
}
#cv-form .form-control.invisible {
    position: absolute;
}
#cv-form p {
    margin-top: 15px;
    line-height: 10px;
    
}
#cv-form p small {
    font-size: 11px;   
    line-height: 11px;
    font-weight: 350;
    color: #575858;
}
#cv-form label {
    margin-top: 15px;
    font-weight: 300;
    font-size: 11px;
    line-height:  14px;
}
#cv-form label span {
    background: #575858;
    color: #FFF;
    font-weight: 300;
    margin-top: 20px;
    border-radius: 0;
    border: 1px solid #575858;
}
#cv-form label span:hover,
#cv-form label span:focus,
#cv-form label span:active,
#cv-form label span:visited {
    background: #FFF;
    color: #575858;

}
@media screen and (max-width: 768px) {
    #rrhh {
        padding-top: 150px;
    }
}
/*========fin CONTACTO======*/
/*========inicio FOOTER======*/
footer {
    padding: 30px 0 50px;
}
footer .fa-linkedin {
    font-size: 20px;
}
footer ul li {
    font-size: 11px;
    font-weight: 300;
    margin-bottom: 7px;
}
footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active {
    color: #d03938;
}
footer img {
    margin:15px 0;
}
/*========fin FOOTER======*/
.modal  {
    position: initial;
    padding: 0!important;
    width: 100%;
}
.modal  .modal-dialog {
    width: 100%;
}
#referencia .modal .modal-content {
    height: auto;
    min-height: auto;      
}
body.modal-open {
    padding-right: 0!important;
    overflow-y: auto!important;
}
 .modal-content {
    box-shadow: none!important;
    border: none;
 }